<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Teste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="rubi_AsyncMCWFUsersPortBinding" />
                <binding name="rubi_Synccom_senior_g5_rh_fp_consultarColaboradorPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/g5-senior-services/rubi_AsyncMCWFUsers"
                binding="basicHttpBinding" bindingConfiguration="rubi_AsyncMCWFUsersPortBinding"
                contract="MCWFU.rubi_AsyncMCWFUsers" name="rubi_AsyncMCWFUsersPort" />
            <endpoint address="http://localhost:8080/g5-senior-services/rubi_Synccom_senior_g5_rh_fp_consultarColaborador"
                binding="basicHttpBinding" bindingConfiguration="rubi_Synccom_senior_g5_rh_fp_consultarColaboradorPortBinding"
                contract="SyncConsultaColaborador.rubi_Synccom_senior_g5_rh_fp_consultarColaborador"
                name="rubi_Synccom_senior_g5_rh_fp_consultarColaboradorPort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Teste.Properties.Settings>
            <setting name="ServidorJavaEE" serializeAs="String">
                <value />
            </setting>
        </Teste.Properties.Settings>
    </userSettings>
</configuration>